<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <link rel="stylesheet" href="/stylesheets/styles.css">
  </head>
  <body>

    <div class="content-wrapper">
      <div class="header-links">
        <a class="header-link" href="/">Play Again</a>
        <a class="header-link" href="/leaderboard">Leaderboard</a>
      </div>
      
      <div class="how-to-play">
        
        <img class="logo" src="/images/snek-logo.svg" alt="SNEK">
        <h2 class="page-title">How to Play</h2>

        <div class="paragraph">
          <p>Seriously? You really need the instructions? It's snake... Ok, no judgement, (maybe a little judgement). Swipe on the map the direction you want the snake to move. You can go through the walls on this version. You'll see a few different pieces on the map as you play so here's a key to help you out:</p>
        </div>
        <div class="paragraph">
          <h3 class="key-item"><img src="/images/apple.svg" alt="Apple"/> Apples</h3>
          <p>You'll see these the most on the map, you want to collect these to score points and progress the game. Each one is worth 5 points.</p>
        </div>
        <div class="paragraph">
          <h3 class="key-item"><img src="/images/covid-2.svg" alt="COVID"/> Covid Spor</h3>
          <p>These prickly fellas will punish you by taking away 3 points if you collect them. So maintain social distancing and they'll despawn after 5 seconds.</p>
        </div>
        <div class="paragraph">
          <h3 class="key-item"><img src="/images/star-2.svg" alt="Star"/> Magic Treats</h3>
          <p>If you see these guys pop up you'll want to act quick. You'll have 5 seconds to catch them and they're worth 10 pts each!</p>
        </div>

        <a href="/" class="btn">Play Now</a>

      </div>
    </div>

  </body>
</html>