<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <link rel="stylesheet" href="/stylesheets/styles.css">
  </head>
  <body>

    <div class="content-wrapper">
      <div class="header-links">
        <a class="header-link" href="/how-to-play">How to Play</a>
        <a class="header-link" href="/leaderboard">Leaderboard</a>
      </div>

      <div class="game">

        <img class="logo" src="/images/snek-logo.svg" alt="SNEK">
        <span id="controlArea" class="touch-area"></span>

        <div class="canvas-game-wrapper">
          <div id="gameover" class="gameover-message">
            <h2>Game Over</h2>
            <p>Your score <span id="finalScore">0</span></p>
            <button id="resetBtn" class="reset-btn btn">Play Again</button>
            <button id="postScore" class="score-btn btn">Submit Score</button>
          </div>

          <div id="postScorePopUp" class="post-score">
            <form id="scoreForm" class="post-score-form">
              <div class="player-name">
                <input type="text" id="playerName1" placeholder="A" minlength="1" maxlength="1" />
                <input type="text" id="playerName2" placeholder="A" minlength="1" maxlength="1" />
                <input type="text" id="playerName3" placeholder="A" minlength="1" maxlength="1" />
              </div>
              <input type="hidden" id="scoreField" />
              <input type="submit" name="submit" value="Submit Score" class="btn" id="submitFormBtn" />
            </form>
            <div id="successMessage" class="success-message">
              <h2>Score Posted</h2>
              <p>View the <a href="/leaderboard">Leaderboard</a> to see where you stand<p>
            </div>
            <button id="closeForm" class="close-btn btn">Close</button>
          </div>

          <canvas id="canvas" width="324" height="324"></canvas>
        </div>

        <div class="meta">
          <h3>Score <span id="score">0</span></h3>
          </div>
      </div>

    </div>

  </body>
  <script type="text/javascript" src="/js/scripts.min.js"></script>
</html>