<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <link rel="stylesheet" href="/stylesheets/styles.css">
  </head>
  <body>
    <div class="content-wrapper">
      <div class="header-links">
        <a class="header-link" href="/how-to-play">How to Play</a>
        <a class="header-link" href="/">Play Again</a>
      </div>
      
      <div class="leaderboard">
        
        <img class="logo" src="/images/snek-logo.svg" alt="SNEK">
        <h2 class="page-title">Leaderboard</h2>
        
        <table>
          <tr>
            <th>Position</th>
            <th>Name</th>
            <th>Score</th>
          </tr>
          <% for(var i=0; i < LBDATA.length; i++) { %>
            <tr>
              <td><%= i+1 %></td>
              <td><%= LBDATA[i].name %></td>
              <td><%= LBDATA[i].score %></td>
            </tr>
          <% } %>
        </table>
      </div>
    </div>
  </body>
</html>